<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .world{
            position: relative;
            width: 900px;
            height: 500px;
            background-color: black;
        }
        .rule{
            position:absolute;
            background-color: brown;
            /* left: 0px;
            top:400px; */
            width: 50px;
            height: 100px;
        }
    </style>
</head>
<body>
    <div class="world">
        <div class="rule"></div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      let rule = document.querySelectorAll('.rule')

      function rule_View(index,player){
        console.log(index)
          let ruleLeft = player.position.x
          let ruleTop = player.world_Height - player.height - player.position.y
          console.log(ruleLeft,ruleTop)
          rule[index].style.left =`${ruleLeft}px`
          rule[index].style.top = `${ruleTop}px`
      }
      /*---------------------------控制執行--------------------------------------------*/
      let socket = io();
      let urlParams = new URLSearchParams(window.location.search);
      let player_name = urlParams.get("name");
      let room_id = urlParams.get("id");

      socket.emit("join-room", player_name, room_id);
      socket.on("init player", function (player_list) {
        // console.log('測試',player_list);
        for (let index = 0; index < player_list.length; index++) {
          let player = player_list[index];
          rule_View(index,player)
        }
      });

      //keydown 事件
      socket.on("player action keydown", function (player_list) {
        for (let index = 0; index < player_list.length; index++) {
          let player = player_list[index];
          rule_View(index,player)
        }
      });
      document.addEventListener("keydown", function (e) {
        socket.emit("player action keydown", room_id, player_name, e.code);
      });


      //keyup 事件
      socket.on("player action keyup", function (player_list) {
          for (let index = 0; index < player_list.length; index++) {
            let player = player_list[index];
            console.log(player)
            rule_View(index,player)
          }
      });
      document.addEventListener("keyup", function (e) {
        console.log( room_id, player_name, e.code)
        socket.emit("player action keyup", room_id, player_name, e.code);
      });
   
    </script>
    <script></script>
  </body>
</html>
