<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .world{
            position: relative;
            width: 900px;
            height: 500px;
            background-color: black;
        }
        .rule{
            position:absolute;
            background-color: brown;
            /* left: 0px;
            top:400px; */
            width: 50px;
            height: 100px;
        }
    </style>
</head>
<body>
    <div class="world">
        <div class="rule"></div>
    </div>
    
    <script>
//------------------------------------------------------資料區
 
//------------------------------------------------------顯示區
        let rule = document.querySelector('.rule')
        
        function rule_View(){
            let ruleLeft = player1.position.x
            let ruleTop = player1.world_Height - player1.height - player1.position.y
            rule.style.left =`${ruleLeft}px`
            rule.style.top = `${ruleTop}px`
        }


//------------------------------------------------------控制區
        let time 
        let player1 = new Player({position:{x:0,y:0},velocity:{x:0,y:0}});
        document.addEventListener('keydown',function(e){
            //e.code: ArrowUp ArrowDown ArrowRight ArrowLeft
            switch(e.code){
                case 'ArrowLeft':
                    if(player1.position.y!=0){
                        return
                    }
                    player1.direction='ArrowLeft'
                    player1.velocity.x=-5
                break;
                
                case 'ArrowRight':
                    if(player1.position.y!=0){
                        return
                    }
                    player1.direction='ArrowRight'
                    player1.velocity.x=5
                break;

                case 'ArrowUp':
                    player1.direction='ArrowUp'
                    player1.velocity.y=5
                break;
                case 'ArrowDown':
                    console.log(1)
                break;
            }
        
            test()
            player1.move()
            player1.revise_move()
            rule_View()
            // rule_View()
            // console.log(player1.position.y,player1.direction)
        })
        document.addEventListener('keyup',function(e){
            //e.code: ArrowUp ArrowDown ArrowRight ArrowLeft
            switch(e.code){
                case 'ArrowLeft':
                    player1.velocity.x=0
                break;
                
                case 'ArrowRight':
                    player1.velocity.x=0
                break;

                case 'ArrowUp':
                    // player1.velocity.y=0
                    player1.direction=''
                break;
                case 'ArrowDown':
                    player1.direction=''
                break;
            }
            test()
            player1.move()
            player1.revise_move()
            rule_View()

        })

        function test(){
            if((player1.direction==='ArrowUp'||player1.direction==='')&&player1.position.y===0&&player1.nojump===false){
                time = setInterval(()=>{
                    player1.move()
                    player1.revise_move()
                    rule_View()
                    if(player1.position.y===0&&player1.nojump===true){
                        console.log('有我嗎')
                        clearInterval(time)
                    }
                },10)
            }
        }

        player1.move()
        player1.revise_move()
        rule_View()

 

        // function animate(){
        //     window.requestAnimationFrame(animate)
        //     player1.move()
        //     player1.revise_move()
        //     rule_View()        
        // }
        // animate();

    </script>

</body>
</html>